body{
  margin: 0;
  padding: 0;
  background: #F7F7F7;
}

.imagen{
  max-width: 150px;
  
}
.header{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  list-style-type:none;
  border-radius: 3px;
  background:#F7F7F7;
  /* background: none; */
  color:#79B433;
  line-height:26px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  top: 0;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
}

.headerAdmin{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  list-style-type:none;
  border-radius: 3px;
  background:#79B433;
  /* background: none; */
  color:#F7F7F7;
  line-height:26px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  top: 0;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
}

li a{
  text-decoration: none;
  color:#79B433;
  font-family: 'Work Sans', sans-serif;
  padding: 0 20px;
  font-size: 14px;
  vertical-align: baseline;
  letter-spacing: 3.5px;
  word-spacing: 0px;
 
  
}

.seccion3::after{
  content: '';
  display:block;
  width:0;
  height:2px;
  background:blue;
  transition:width .3s
}
.seccion3:hover{
  border-bottom: 2.8px solid #344AB5;
  transition: width .2s;
  height: 1.66rem;
  
}


#parte1{
  display:flex;
  /* justify-content:flex-end; */
  padding: 0;
  margin: 0;
  background:#F7F7F7;
  margin-left: 4em;
  
}

#parte1 li{
  display:block;
  width:100%;
  text-align:center;
  padding:1rem;
}

/* .seccion1:hover{
  border-bottom: 1px solid blue;  
} */

#parte2{
  display:flex;
  flex:0.3;
  justify-content:flex-end;
  margin-right: 1rem;
  /* background: none; */
  background:#F7F7F7;
  /* esto hay que cambiar para el efecto junto con el primero */
  
}



/* .seccion2:hover{
  
  border-bottom: 1px solid blue;
} */


body {
  font-family: 'Work Sans', sans-serif;
 }
 
 /* h1, h2, h3, h4, h5, h6, p {
  font-family: 'Crimson Text', serif;
  
 } */

.primerito{
  width: 100%; 
  height: 40em;
  display: flex;
  justify-content: center;  
  font-weight: 100;
  /* font-style: italic; */
  font-variant: normal;
  /* text-transform: uppercase; */
  text-decoration: none;
  /* text-align: center; */
  text-indent: 0px;

  line-height: 51px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image: url(componentes/fotos/dentista3.jpeg);

  
}

.primerito2{
  
    width: 100%; 
    height: 40em;
    display: flex;
    justify-content: center;  
    font-weight: 100;
    /* font-style: italic; */
    font-variant: normal;
    /* text-transform: uppercase; */
    text-decoration: none;
    /* text-align: center; */
    text-indent: 0px;
  
    line-height: 51px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: url(componentes/fotos/dentista.jpeg);
  
    
}

.primerito3{
  
  width: 100%; 
  height: 40em;
  display: flex;
  justify-content: center;  
  font-weight: 100;
  /* font-style: italic; */
  font-variant: normal;
  /* text-transform: uppercase; */
  text-decoration: none;
  /* text-align: center; */
  text-indent: 0px;

  line-height: 51px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image: url(componentes/fotos/clientes1.jpeg);

  
}


.primerito h2,h1{
  
  align-self: flex-start;
  font-size: 35px;
  font-family: 'Work Sans', sans-serif;

}



#parte2 li{
  display:block;
  width:100%;
  text-align:center;
  padding:1rem;
  color:#79B433;

}

.imagenFondo{
  /* background: #fff fixed no-repeat 50% 50%; */
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 650px;
  /* overflow: hidden; */
  
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8)
}

.overlayMedio{
  position: absolute;
  top:50;
  left:0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.8)
}

.tercerito{
  width: 100%;
  height: 40%;

}

.segundito{
  
    width: 100%; 
    height: 40em;
    display: flex;
    justify-content: center;
      
    font-weight: 100;
    /* font-style: italic; */
    font-variant: normal;
    /* text-transform: uppercase; */
    text-decoration: none;
    /* text-align: center; */
    text-indent: 0px;
  
    line-height: 31px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
  
    
  }
  
  
  .segundito h2,h1,h3{
    
    align-self: flex-start;
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
    
  
  }

  

  .button{
    height: 3rem;
    width: 10rem;
    background: #72BB24;
    border-radius: 50px;
    border: 1px solid lightgray;
    padding: 5px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
   
  }

  .lilright{
    margin-left:0.6em;
  }

  .littleright{
    margin-left: 3em;
  }

  .componentes{
    margin-left: 3em;
  }

  .central{
    align-self: center;
    font-style: italic;
    font-size: 4em;
    letter-spacing: 10px;
  }

  .titulito{
    font-size: 2.5rem;
    font-weight: bold;
  }

  .textito{
    font-size: 1.8em;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .flexColumn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
  }

  .flexRow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: initial;
  }

  .navSegundo{
    height: 40em;
    width:100%;
    position: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #EEFFD9;
  }

  .albumOriginal{
    height: 40em;
    width:100%;
    background: #F3FFD9;
  }
 

  .album{
    padding:3em;
    width: 15em;
    height: 100px;
  }

.centrar{
  justify-self: center;
  align-self: center;
  text-align: center;
}

.fotoCircular{
  height:12em;
  width: 12em;
  border-radius: 50%;
  border:3px solid #79B433;
  margin: 3em;
}

.fotoCircular1{
  height:4em;
  width: 4em;
  border-radius: 50%;
  border:3px solid #79B433;
  margin: 0em 3em 0em 3em;
}

.post{
  display: flex;
  align-items: center;
  margin-left: 10%;

}



.navTercero{
  height: 614px;
  width:100%;
  position: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ultimaParte{
  padding:5em;
  }

.ultimaParte>div{
  flex:1;
}

.ultimaParteIzquierda{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  background: #79B433;
  color:white;
  text-align: center;
}

.ultimaImagen{
  max-height: 100rem;
  max-width: 100rem;
}

.White{
  height: 3rem;
    width: 10rem;
    border-radius: 50px;
    border: 1px solid lightgray;
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    background: white;
    color:#79B433 ;   
}

.ultimaParteFooter{
  height:1rem;
  justify-content: space-around;
  align-items: center;
  background:#F7F7F7;
  color:#79B433;
  text-align: center;
  padding:10rem;
  border-top: 3px solid #E8E8E8;
  margin-top: 5rem;
}

.ultimaParteDerecha{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  background: #F7F7F7;
  text-align: center;
}

.column{
  flex:1;
}

.padding{
  padding:3em;
}
.marginTop{
  margin-top: 2em;
}

.spaceBetween{
  justify-content: space-evenly;
}